// Position
// ---------------------------
.rel {
    position: relative;
  }
  
  .abs {
    position: absolute;
  }
  
  .fixed {
    position: fixed;
  }
  
  // Float
  // ---------------------------
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .cf {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  
  // Display Values
  // -------------------------
  
  .inline {
    display: inline;
  }
  
  .block {
    display: block;
  }
  
  .inline-block {
    display: inline-block;
  }
  //-----------------------------------------
  * {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
.hero-section {
    min-height: 718px;
    width: 100%;
    background: url("../../img/background.png") no-repeat center center;
    background-size: cover;
    
    
}
.wrap {
    max-width: 985px;
    margin: 0 auto;
    padding-top: 72px;
   
}
.currency{
    border-radius: 5px;
    background-color: #1d2836;
    border: 1px solid rgb(77, 105, 182);
    
}
.h2-text {
    width: 60%;
    text-align: center;
    color: white;
    padding-top: 20px;
}
.dropdown {
  width: 40%;
}
@media (max-width: 768px){
  .dropdown {
    width: 100%;
    display: block;
  }
  
}
#btn1 {
    padding: 25px 50px;
    
}
#dropdown1 {
    min-width: 275px;
}